:root {
    --bg-color: white;
    --font-color: black;

}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --font-color: white;
    
    }

    html {
        color-scheme: dark;
    }
    
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.cabecalho__container {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.superior__secao__container {
    display: flex;
    gap: 15px;
    white-space: nowrap;
    align-items: center;
    overflow: scroll;
    background-color: var(--bg-color);
}

.superior__item {
    background-color: rgba(128, 128, 128, 0.226);
    color: var(--font-color);
    
}

.menu__container {
    display: flex;
}

.menu__lista {
    display: flex;
    color: var(--font-color);
    position: fixed;
    bottom: 0;
    height: 74px;
    background-color: blue;
    width: 100%;
    justify-content: space-around; /*Deixa espaço entre elementos e entre os lado também*/
}

.menu__lista li {
    align-self: center; /*Seleciona elementos filhos também e não só o pai*/
}

/*Quanto menos classes precisar usar melhor*/
.menu__lista:nth-child(2),
.menu__lista:nth-child(3), 
.menu__lista:nth-child(4) {
    display: none; /*Pra só aparacer isso quando tiver maior a tela*/
}

.menu__itens {
    display: flex;
    flex-direction: column; /*Pra ficar como se fosse coluna*/
    gap: 5px; /*Pra deixar espaço entre os items*/
}

.rodape__container {
    background-color: rgba(2, 49, 150, 0.226);
    display: flex;
    flex-flow: column wrap;
    font-size: 1rem;
    justify-content: space-between;
    height: 500px;
    padding-bottom: 20px;
    color: var(--font-color);
}


.videos__container {
    display: flex;
    height: auto;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 20px;
}

.videos__item {
    justify-content: space-around;
    align-items: center;
    width: 500px;
    padding-bottom: 50px;
}

.descricao-video h3 {
    color: var(--font-color);
    font-size: 1.2rem;
}

.descricao-video p {
    color: var(--font-color);
}


    /*Tablet*/
@media (min-width: 834px) and (max-width: 1440px) {
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: none;
    }
    
    
    .menu__lista {
        display: flex;
        color: var(--font-color);
        position: fixed;
        top: 12%;
        left: 0;
        width: 74px;
        flex-direction: column;
        height: 100%;
        background-color: blue;
    }

}

@media (min-width: 1440px) {
    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__lista {
        color: var(--font-color);
        position: fixed;
        top: 12%;
        left: 0;
        height: auto;
        width: 230px;
        background-color: blue;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    .menu__itens {
        font-size: 1.1rem;
        padding: 15px;
        display: flex;
        gap: 50px;
        flex-direction: row;
        align-items: center;
    }

    .videos__container {
        display: flex;
        height: auto;
        flex-flow: row wrap;
        flex-grow: 1;
        gap: 20px;
    }

    .videos__item {
        justify-content: space-around;
        align-items: center;
        width: 500px;
        padding-bottom: 50px;
    }

    .descricao-video h3 {
        color: var(--font-color);
        font-size: 1.2rem;
    }

    .descricao-video p {
        color: var(--font-color);
    }
}